
.btn-danger {
  width: 25%;
  margin-right: 2%;
}

.btn-success {
  width: 73%;
}

.best-score-container {
  padding-top: 1rem;
}

.dialog-content {
  padding: 0 .4rem;
}

.dialog-actions {
  padding: .4rem .4rem;
}

.section-right {
  border: solid 2px #DC7633;
  margin: 5px 0;
  border-radius: 10px;
  height: 55vh;
  overflow: auto;
}

.icon-container-not-selected:hover {
  font-size: .9vw;
  cursor: pointer;
  background-color: #bc4b20;
  color: white;
}

.icon-container-selected {
  background-color: #bc4b20;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

fa-icon {
  font-size: 1.5vw;
}

.icon-container-not-selected {
  color: #bc4b20;
}

.icon-container {
  transition: 300ms;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  font-size: .9vw;
  padding: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row {
  margin: 0 1rem 0 0;
}
