<p-toast></p-toast>
<div class="dialog-title-container">
  <div class="back-container" (click)="backToMenu()">
    <fa-icon [icon]="['fas', 'arrow-circle-left']"></fa-icon>
    Back
  </div>
  {{ data.name }}
</div>
<div class="row">
  <div class="col-sm-2">
    <div
      [ngClass]="{
        'icon-container-selected': selectedOption === 'help',
        'icon-container-not-selected': selectedOption !== 'help'
      }"
      class="icon-container"
      (mouseenter)="showHover('help')"
      (mouseleave)="hoveredOption = ''"
      (click)="showSection('help')"
    >
      <fa-icon [icon]="['fas', 'question']"></fa-icon>
      <span
        class="ml-2"
        *ngIf="hoveredOption === 'help' || selectedOption === 'help'"
        >Help</span
      >
    </div>
    <div
      [ngClass]="{
        'icon-container-selected': selectedOption === 'start',
        'icon-container-not-selected': selectedOption !== 'start'
      }"
      class="icon-container"
      (mouseenter)="showHover('start')"
      (mouseleave)="hoveredOption = ''"
      (click)="showSection('start')"
    >
      <fa-icon [icon]="['fab', 'google-play']"></fa-icon>
      <span
        class="ml-2"
        *ngIf="hoveredOption === 'start' || selectedOption === 'start'"
        >Start</span
      >
    </div>
    <div
      [ngClass]="{
        'icon-container-selected': selectedOption === 'ranking',
        'icon-container-not-selected': selectedOption !== 'ranking'
      }"
      class="icon-container"
      (mouseenter)="showHover('ranking')"
      (mouseleave)="hoveredOption = ''"
      (click)="showSection('ranking')"
    >
      <fa-icon [icon]="['fas', 'trophy']"></fa-icon>
      <span
        class="ml-2"
        *ngIf="hoveredOption === 'ranking' || selectedOption === 'ranking'"
        >Ranking</span
      >
    </div>
  </div>
  <div class="col-sm-10 section-right">
    <app-game-instruction
      @fadeIn
      style="display: block"
      [hidden]="selectedOption !== 'help'"
      [gameName]="data.code"
    ></app-game-instruction>

    <app-game-config
      style="display: block"
      [hidden]="selectedOption !== 'start'"
      @fadeIn
      [isPreparing]="isPreparing"
      [data]="data"
      [form]="form"
      (submitEmitter)="submit()"
    ></app-game-config>
    <app-ranking
      style="display: block"
      [hidden]="selectedOption !== 'ranking'"
      @fadeIn
      [form]="form"
    ></app-ranking>
  </div>
</div>
