.game-board-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/images/background/falling-stars-bg.jpeg");
}

.falling-container {
  height: 90%;
  position: relative;
  overflow: hidden;
}

.ground-container {
  background-image: url("../../../../assets/images/background/falling-stars-ground-bg.png");
  background-size: contain;
  height: 10%;
}

.box {
  background-image: url("../../../../assets/images/background/star-bg.png");
  height: 10rem;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  background-size: 90% 90%;
  font-size: 1vw;
  color: #800080;
  top: 50px;
  line-height: 10rem;
  padding: 0rem 4rem;
}

.ready-container {
  border: solid 1px gray;
  position: absolute;
  width: 30%;
  top: 20%;
  left: 35%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px red;
  padding-top: 10px;
  z-index: 150;

  .btn {
    margin: 50px 0 10px 0;
  }
}

.answer-item-container {
  display: inline-flex;
  border: solid 0.2rem rgba(0, 128, 0, 0.8);
  color: rgba(0, 128, 0, 0.8);
  min-width: 10%;
  max-width: 20%;
  background-color: white;
  font-size: 1vw;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.item-number-container {
  float: left;
  border-right: solid .1rem;
  padding: 1rem .5rem;
}

.answer-item-container:hover {
  cursor: pointer;
  transition: 100ms;
  border-color: rgba(0, 128, 0, .4);
  color: rgba(0, 128, 0, .4);
}

.answer-text-container {
  text-align: center;
  width: 100%;
  padding: 1rem .5rem;
}

.answer-container {
  height: 100%;
  padding-top: .5rem
}

.guid-box-header-container {
  color: red;
  span {
    font-size: 1vw;
    border-bottom: 1px solid red;
  }
}

.guid-box-body-container {
  margin: 2vh 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1vh;
}

.guid-box-correct-answer {
  color: green;
  font-size: 1vw;
}

.answer-pressed {
  cursor: pointer;
  transition: 100ms;
  border-color: rgba(0, 128, 0, .4);
  color: rgba(0, 128, 0, .4);
}

@keyframes loading-star-animation {
  0% { opacity: .9 }
  50% { opacity: .5 }
  100% { opacity: .9 }
}
