<app-top-navbar></app-top-navbar>
<app-game-options
  *ngIf="words.length && !isGameFinished"
  [hasRemainWords]="true"
  [remainWords]="getCountOfRemainWords()"
  (exit)="showStartDialog()"
></app-game-options>
<app-guid-box
  *ngIf="guidBoxShowing"
  [question]="currentWord.key"
  [answer]="currentWord.correctShowingAnswer"
  [answerSpeech]="getAnswerSpeech(currentWord)"
  [questionSpeech]="{
    code: currentWord.speechCode,
    status: currentWord.speechStatus
  }"
  (Submit)="playNextStar()"
  @fadeIn
></app-guid-box>
<div class="game-board-container">
  <div class="falling-container">
    <span *ngFor="let word of words">
      <div
        class="box"
        [@fade]="word?.animating"
        [ngStyle]="word.style"
        *ngIf="word?.animating"
        (@fade.done)="boxAnimationDone(word, true)"
      >
        <span>{{ word.key }}</span>
      </div>
    </span>
  </div>
  <div class="ground-container text-center" @fadeIn *ngIf="!guidBoxShowing">
    <div class="answer-container">
      <div
        class="answer-item-container mr-4"
        *ngFor="let answer of getAnswers(); let index = index"
        (click)="checkSelectedAnswer(answer)"
        [ngClass]="{ 'answer-pressed': isPressing(answer) }"
      >
        <div class="item-number-container">
          <span class="number-index">{{ index + 1 }}</span>
        </div>
        <div class="answer-text-container">
          <span>{{ answer }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
