<div class="game-board-container">
  <div class="falling-container">
    <span *ngFor="let word of words">
      <div class="box"
           [@fade]="word.animating"
           [ngStyle]="word.style"
           *ngIf="word.animating"
           (@fade.done)="boxAnimationDone(word)">
        <span>{{word.key}}</span>
      </div>
    </span>
  </div>
  <div class="ground-container text-center">
    <div class="answer-container">
      <div class="answer-item-container mr-2" *ngFor="let answer of getAnswers()">
        {{answer}}
      </div>
    </div>
    <!--    <div class="typing-container">-->
    <!--      <input-->
    <!--        class="form-control mt-2"-->
    <!--        placeholder="type the falling word"-->
    <!--        [(ngModel)]="typingWord"-->
    <!--        (ngModelChange)="checkTypingWord($event)">-->
    <!--    </div>-->
    <!--    <div class="score-container">-->
    <!--      <p>Total: {{scoreBoard.total}}</p>-->
    <!--      <p>Correct: {{scoreBoard.correct}}</p>-->
    <!--    </div>-->
  </div>
</div>
