.dialog-title-container {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: .5rem 0;
  font-size: 1vw;
  background-color: gray;
  color: white;
}
.btn-danger {
  width: 25%;
  margin-right: 2%;
}

.btn-success {
  width: 73%;
}

.select-book-input {
  width: 100%;
}

.best-score-container {
  padding-top: 1rem;
}

.dialog-content {
  padding: 0 .4rem;
}

.dialog-actions {
  padding: .4rem .4rem;
}
