<div class="dialog-title-container">
  Falling stars
</div>
<div class="dialog-content">
  <div class="best-score-container">
    Your best score is 200 correct answers in 20 seconds.
  </div>
  <app-game-hint></app-game-hint>
  <hr>
  <mat-form-field appearance="fill" class="select-book-input">
    <mat-label>Select a book</mat-label>
    <mat-select [(ngModel)]="selectedBook">
      <mat-option *ngFor="let book of books" [value]="book">
        {{book.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="dialog-actions">
  <button class="btn btn-danger">Main menu</button>
  <button class="btn btn-success">Start!</button>
</div>
