$orange: #F5612C;
$blue: #2DADB7;
$white:#FFFFFF;
.game-menu-body {
    background-color: $blue;
    width: 100%;
    height: fit-content;
}

.title-container {
    color: $white;
    font-size: 2.5vw;
    padding: 5%;
    text-align: center;
}

.game-container {
    background-color: $white;
    color: $orange;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
    width: 20%;
    height: 50%;
    display: inline-block;
    border-radius: 10px;
}

.game-menu-images {
    width: 70%;
    height: 25vh;
    padding: 10%;
    padding-bottom: 15%;
}

.play-button {
    background-color: $orange;
    color: $white;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    box-shadow: 10px 10px 10px rgb(247, 180, 87);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5vw;
}