html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden !important;
}

* {
  font-family: cursive;
}

*:focus {
  outline:none;
}

.welcome-inner-main-container {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 1rem;
}

@keyframes loading-animation {
  0% { filter: blur(8px) }
  25% { filter: blur(12px) }
  50% { filter: blur(14px) }
  75% { filter: blur(12px) }
  100% { filter: blur(8px) }
}

@keyframes stop-loading-animation {
  0% { filter: blur(10px) }
  25% { filter: blur(8px) }
  50% { filter: blur(6px) }
  75% { filter: blur(3px) }
  100% { filter: blur(0px) }
}

.mat-dialog-container {
  padding: 0px !important;
}

::ng-deep .field-not-valid {
  border: solid 1px red !important;
}

.field-not-valid {
  border: solid 1px red !important;
}
