<app-top-navbar></app-top-navbar>
<app-game-options
  *ngIf="enemies.length && !isGameFinished"
  (exit)="showStartDialog()"
  (skip)="skipEnemy()"
  [hasSkip]="true"
></app-game-options>
<div *ngIf="guidBoxShowing" class="guid-box-container" @fadeIn>
  <div class="guid-box-header-container">
    <span>Wrong!</span>
  </div>
  <div class="guid-box-body-container">
    <span>
      Correct answer is
      <span class="guid-box-correct-answer"
        ><strong>{{ currentEnemy.values[0] }}</strong></span
      >
      .
    </span>
    <br />
    <span>{{ currentEnemy.key }} = {{ currentEnemy.values[0] }}</span>
  </div>
  <div class="guid-box-action-container text-right">
    <button class="btn btn-success" (click)="prepareTheWord()">
      Continue [Enter]
    </button>
  </div>
</div>
<div class="mario-main-container" style="overflow: hidden">
  <div
    class="question-container"
    @questionFade
    *ngIf="currentEnemy.key && !isGameFinished"
  >
    <div class="enemy-image-container"></div>
    <span style="display: table-cell">  </span>
    <div class="enemy-text-container">
      {{ currentEnemy?.key }}
    </div>
  </div>
  <div
    *ngIf="!isGameFinished"
    class="mario"
    #marioTemplate
    [ngStyle]="mario.style"
    [ngClass]="{
      isMoving: mario.isMoving,
      movingRight: mario.isMovingRight,
      movingLeft: mario.isMovingLeft
    }"
  ></div>
  <div class="ground"></div>
  <div *ngFor="let enemy of enemies">
    <div
      #enemyTemplate
      [ngStyle]="enemy.style"
      *ngIf="enemy?.status === 0 || enemy?.status === 1"
      class="enemy-container"
    >
      <div
        [style.background-image]="enemy.mushroomImageUrl"
        class="mushroom-image-container"
      ></div>
      <span style="display: table-cell">  </span>
      <div class="mushroom-text-container">
        {{ enemy?.valueToAsk }}
      </div>
    </div>
  </div>
</div>
