.mario-main-container {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../../../../assets/mario/up-mid.png") no-repeat;
  background-size: 100% 91vh;
}

.ground {
  background: url("../../../../assets/mario/ground.png") no-repeat;
  background-size: 100% 10vh;
  position: absolute;
  top: 90%;
  width: 100%;
  height: 10vh;
}

.isMoving {
  animation: walk 1s steps(7) infinite;
}

.isJumping {
  animation: none;
}

.movingRight {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.movingLeft {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.mario {
  background: url("../../../../assets/mario/mario-movement.png") 0 0 no-repeat;
  margin: 60px auto 0;
}

/* Don't forget: You'll need an @keyframes block to change the background image's position! */
@keyframes walk {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -420px 0;
  }
}

.enemy-container {
  border-top: solid 1px gray;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  color: #283747;
  padding-right: .5rem;
  background-color: #EAEDED;

}

.mushroom-image-container {
  background-size: cover;
  width: 3rem;
  height: 3rem;
}

.mushroom-image-container , .mushroom-text-container {
  display: table-cell;
}

.mushroom-text-container {
  height: 3rem;
  line-height: 3rem;
}

.enemy-image-container, .enemy-text-container {
  display: table-cell;
}

.enemy-image-container {
  background: url("../../../../assets/mario/enemy.png") 0 0 no-repeat;
  background-size: cover;
  width: 4rem;
  height: 4rem;
}

.enemy-text-container {
  height: 5rem;
  line-height: 4rem;
  //width: 12rem;
  text-align: center;
}

.question-container {
  padding-right: 1rem;
  border: solid 1px #2C3E50;
  color: #2C3E50;
  font-size: 1.8vw;
  background-color: #ABB2B9;
  border-radius: 10px;

  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
}

@keyframes loading-mushroom-animation {
  0% { opacity: .9 }
  50% { opacity: .7 }
  100% { opacity: .9 }
}
