<app-top-navbar></app-top-navbar>
<app-exit-game
  *ngIf="enemies.length"
  (click)="showStartDialog()"
></app-exit-game>
<div *ngIf="guidBoxShowing" class="guid-box-container" @fadeIn>
  <div class="guid-box-header-container">
    <span>Wrong!</span>
  </div>
  <div class="guid-box-body-container">
    <span>
      Correct answer is
      <span class="guid-box-correct-answer"
        ><strong>{{ currentEnemy.values[0] }}</strong></span
      >
      .
    </span>
    <br />
    <span>{{ currentEnemy.key }} = {{ currentEnemy.values[0] }}</span>
  </div>
  <div class="guid-box-action-container text-right">
    <button class="btn btn-success" (click)="prepareTheWord()">
      Continue [Enter]
    </button>
  </div>
</div>
<div class="main-container" style="overflow: hidden">
  <div class="question-container" @questionFade *ngIf="currentEnemy.key">
    {{ currentEnemy?.key }}
  </div>
  <div
    class="mario"
    [ngStyle]="mario.style"
    [ngClass]="{
      isMoving: mario.isMoving,
      movingRight: mario.isMovingRight,
      movingLeft: mario.isMovingLeft
    }"
  ></div>
  <div class="ground"></div>
  <div *ngFor="let enemy of enemies">
    <div [ngStyle]="enemy.style" *ngIf="enemy?.status === 0">
      {{ enemy?.valueToAsk }}
    </div>
  </div>
</div>
