.main-container {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../../../../assets/mario/up-mid.png") no-repeat;
  background-size: 100% 90vh;
}

.ground {
  background: url("../../../../assets/mario/ground.png") no-repeat;
  background-size: 100% 10vh;
  position: absolute;
  top: 90%;
  width: 100%;
  height: 10vh;
}

.isMoving {
  animation: walk 1s steps(7) infinite;
}

.movingRight {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.movingLeft {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.mario {
  background: url("../../../../assets/mario/mario-movement.png") 0 0 no-repeat;
  height: 95px;
  width: 60px;
  margin: 60px auto 0;
}

/* Don't forget: You'll need an @keyframes block to change the background image's position! */
@keyframes walk {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -420px 0;
  }
}

.guid-box-container {
  left: 30%;
  position: absolute;
  width: 40%;
  border: solid 1px #BDC3C7;
  top: 30vh;
  z-index: 100;
  padding: 0.5rem;
  background-color: #E5E8E8;
  box-shadow: 0rem 0rem 2rem #bdc3c7;
}

.question-container {
  border: solid 1px #2C3E50;
  color: #2C3E50;
  font-size: 1vw;
  background-color: #ABB2B9;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  text-align: center;
  margin-left: 40%;
  margin-top: 10vh;
  border-radius: 10px;

}
