<div class="main-container" style="overflow: hidden">
  <div class="question-container">
    {{ currentEnemy?.text?.key }}
  </div>
  <div
    class="mario"
    [ngStyle]="mario.style"
    [ngClass]="{
      isMoving: mario.isMoving,
      movingRight: mario.isMovingRight,
      movingLeft: mario.isMovingLeft
    }"
  ></div>
  <div class="ground"></div>
  <div *ngFor="let enemy of enemies">
    <div [ngStyle]="enemy.style" *ngIf="enemy.status === 0">
      {{ enemy.text.values[0] }}
    </div>
  </div>
</div>
