.main-container {
  background-color: white;
  margin: 2vh 2vh auto auto;
  border-radius: 20px;
  opacity: .8;
  padding: 3vh 1vh;
  max-height: 95vh;
  overflow: auto;
}

.hyper-link {
  color: brown;
}

.hyper-link:hover {
  cursor: pointer;
}

