<div class='dialog-header-container'>
  <div class='dialog-header-text'>Add a book</div>
  <div class='dialog-header-close-icon'>
    <span>X</span>
  </div>
</div>
<div class='dialog-body-container'>
  <form [formGroup]='addBookForm' (ngSubmit)='submitForm()'>
    <div class='form-group'>
      <label for='bookName'>Book name</label>
      <input
        type='text'
        class='form-control'
        id='bookName'
        placeholder='Enter name'
        aria-describedby='bookHelp'
        formControlName='bookName'
        [ngClass]="bookName.invalid && addBookForm.dirty ? 'field-not-valid' : ''"
      >
      <small id='bookHelp' class='form-text text-muted'>This book will save to our database once you submit your word list</small>
    </div>
    <button type='submit' class='btn btn-success'>Save</button>
  </form>
</div>
