.main-container {
  background-color: #DFDBE1;
  padding-top: 1vh;
}

.loop-container {
  width: 90%;
  margin-left: 5%;
  padding: 0 0 1vh 0;
}

.col-container {
  display: inline-block;
  padding: .1rem;
}

.col-index {
  width: 15%;
  padding-left: 1%;
  background-color: white;
}

.col-name {
  width: 42%;
  background-color: white;
}

.col-rank {
  width: 43%;
  background-color: white;
}

.rank-container:not(.col-badge) {
  margin-bottom: 1vh;
  border: solid 1px gray;
  box-shadow: 1px 1px 4px grey;
}

.rank-gold {
  .col-badge {
    background-color: #F1C40F;
  }
  font-size: 1vw;
}

.rank-silver {
  .col-badge {
    background-color: #99A3A4;
  }
  font-size: .9vw;
}

.rank-bronze {
  .col-badge {
    background-color: #EC7063;
  }
  font-size: .8vw;
}

.rank-normal {
  font-size: .7vw;
}

.dialog-actions {
  border-top: solid 1px gray;
}

.current-user {
  .col-name, .col-index, .col-rank {
    background-color: #922B21;
    color: #F5EEF8;
  }
}

.top-rank-header-container {
  margin-bottom: 1vh;
  background-color: gray;
  color: white;
  padding: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.your-score-container {
  border: solid 1px gray;
  margin: 0 5% .4vh 5%;
  padding: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}
