<div class="main-container">
  <div>
    <span>Play lingua is a free and open source platform for learn new language(s)</span>
  </div>
  <div>
    <span>Do you want to</span>
  </div>
  <div>
    <div>
      <button class="btn btn-success" routerLink="./login">Login</button>
    </div>
    <div>
      <button class="btn btn-success">Register</button>
    </div>
    <div>
      <span>Or</span>
    </div>
    <div>
      <button class="btn btn-success">Play as a guest</button>
    </div>
  </div>
</div>
