<div class='full-size-main-container' *ngIf='showFullSize'>
  <div class='greeting-container'>
    {{getUsername()}}
  </div>
  <div class='total-score-container'>
    Total score <span *ngIf="totalScore !== 'loading'">{{totalScore}}</span>
    <div *ngIf="totalScore === 'loading'" class='spinner-border text-primary' role='status'>
      <span class='sr-only'>Loading...</span>
    </div>
  </div>
  <div class='log-out-container' *ngIf='isLoggedIn()'>
    <div class='log-out-item' (click)='logout()'>Log out</div>
  </div>
  <div class='log-out-container' *ngIf='!isLoggedIn()'>
    <div class='log-in-register-container' (click)='logout()'>
      <div class='log-in-register-item' (click)='logout()'>Register</div>
      <span style='margin: 0 1vh'>OR</span>
      <div class='log-in-register-item' (click)='logout()'>Login</div>
    </div>
  </div>
</div>

<div class='half-size-main-container' *ngIf='!showFullSize'>
  <div class='total-score-container'>
    Total score
    <span *ngIf="totalScore !== 'loading'">{{totalScore}}</span>
    <div *ngIf="totalScore === 'loading'" class='spinner-border text-primary' role='status'>
      <span class='sr-only'>Loading...</span>
    </div>
  </div>
</div>

