<div class='full-size-main-container' *ngIf='showFullSize'>
  <div class='greeting-container'>
    {{getUsername()}}
  </div>
  <div class='total-score-container'>
    Total score: <span *ngIf="totalScore !== 'loading'">{{totalScore}}</span>
    <div *ngIf="totalScore === 'loading'" class='spinner-border text-primary' role='status'>
      <span class='sr-only'>Loading...</span>
    </div>
  </div>
  <div class='log-out-container' *ngIf='securityService.isLoggedIn()'>
    <div class='log-out-item' (click)='securityService.logout()'>Log out</div>
  </div>
  <div class='log-out-container' *ngIf='!securityService.isLoggedIn()'>
    <div class='log-in-register-container'>
      <div class='log-in-register-item' routerLink='../register'>Register</div>
      <span style='margin: 0 1vh'>OR</span>
      <div class='log-in-register-item' routerLink='../login'>Login</div>
    </div>
  </div>
</div>

<div class='half-size-main-container' *ngIf='!showFullSize && securityService.isLoggedIn()'>
  <div class='total-score-container'>
    Total score
    <span *ngIf="totalScore !== 'loading'">{{totalScore}}</span>
    <div *ngIf="totalScore === 'loading'" class='spinner-border text-primary' role='status'>
      <span class='sr-only'>Loading...</span>
    </div>
  </div>
</div>

