:host {
  margin: 0;
}
.full-size-main-container {
  padding: 1vh;
  font-size: .8vw;
  background-color: #273746;
  color: #D5D8DC;

  .greeting-container, .total-score-container, .log-out-container{
    display: inline-block;
    width: 33%;
  }

  .total-score-container {
    text-align: center;
    padding-right: 10px;

    span {
      font-size: 1vw;
    }
  }

  .log-out-container {
    text-align: right;
    position: relative;
  }

  .log-out-item {
    width: 15%;
    position: absolute;
    top: -2vh;
    color: lightgray;
    padding: .2vh;
    margin-left: 85%;
    text-align: center;
    transition: 500ms;
  }

  .log-in-register-container {
    color: lightgray;

    text-align: right;
  }

  .log-in-register-item {
    display: inline-block;
    transition: 500ms;
    padding: 0.5vh;
  }

  .log-out-item:hover, .log-in-register-item:hover {
    cursor: pointer;
    color: #273746;
    background-color: lightgray;
    border-radius: 10px;
  }
}

.half-size-main-container {
  background-color: #273746;
  color: #D5D8DC;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;


  top: .5vh;
  padding: .8rem;
  font-size: 1vw;
  width: 10%;
  text-align: center;
  right: 0%;
  z-index: 1;
}

.spinner-border {
  height: 1rem;
  width: 1rem;
}
