<div
  class="game-option-main-container"
  (mouseover)="showDetails()"
  (mouseleave)="hideDetails()"
>
  <div
    class="exit-container action-container"
    [style.width]="isDetailsShowing ? '10rem' : '2.5rem'"
    (click)="exit.emit()"
  >
    <fa-icon
      [@iconAnimation]="!isDetailsShowing"
      [icon]="['fas', 'power-off']"
    ></fa-icon>
    <div *ngIf="isDetailsShowing" class="text-container">
      <span>Exit [ESC]</span>
    </div>
  </div>
  <div
    class="skip-container action-container"
    *ngIf="hasSkip"
    [style.width]="isDetailsShowing ? '10rem' : '2.5rem'"
    (click)="skip.emit()"
  >
    <fa-icon
      [@iconAnimation]="!isDetailsShowing"
      [icon]="['fas', 'forward']"
    ></fa-icon>
    <div *ngIf="isDetailsShowing" class="text-container">
      <span>Skip [Q]</span>
    </div>
  </div>
  <div
    class="skip-container action-container"
    *ngIf="hasSound"
    [style.width]="isDetailsShowing ? '10rem' : '2.5rem'"
    (click)="soundTrigger()"
  >
    <fa-icon
      [@iconAnimation]="!isDetailsShowing"
      [icon]="['fas', 'volume-up']"
    ></fa-icon>
    <div *ngIf="isDetailsShowing" class="text-container">
      <span>{{ soundOn ? 'Sound off' : 'Sound on' }}</span>
    </div>
  </div>
</div>
