<form class="welcome-inner-main-container">
  <div class="btn-back-container">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-arrow-left"
      (click)="back()"
      class="btn-back p-button-rounded p-button-info p-button-outlined"
    ></button>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      name="inputEmail"
      aria-describedby="emailHelp"
      [(ngModel)]="user.email"
      placeholder="Enter email"
    />
    <small
      *ngIf="formError['email']"
      id="emailHelp"
      class="form-text text-danger"
      >{{ formError['email'] }}</small
    >
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      name="inputPassword"
      placeholder="Password"
      [(ngModel)]="user.password"
    />
    <small
      *ngIf="formError['password']"
      id="passwordHelp"
      class="form-text text-danger"
      >{{ formError['password'] }}</small
    >
  </div>
  <div class="mt-2 text-center">
    <div class="forgot-password-container">
      <button
        class="btn btn-info mr-2"
        type="button"
        [disabled]="isLoading"
        routerLink="../forgot-password"
      >
        Forgot password!
      </button>
      <button
        class="btn btn-info mr-2"
        type="button"
        [disabled]="isLoading"
        routerLink="../register"
      >
        Register
      </button>
    </div>
    <div class="login-container">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="isLoading"
        (click)="login()"
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          *ngIf="isLoading"
        ></span>
        {{ isLoading ? 'Loading...' : 'Login' }}
      </button>
    </div>
  </div>
  <div *ngIf="errorMessage" class="text-center">
    <hr />
    <strong class="text-danger">{{ errorMessage }}</strong>
  </div>
</form>
