<p-toast></p-toast>
<div class="parent-container">
  <div class="main-container" [ngStyle]="style">
    <div class="row">
      <div class="col-sm-12">
          <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row center-row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 earth-container"></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
