<div class="welcome-inner-main-container">
  <button pButton pRipple type="button" icon="pi pi-arrow-left" routerLink="../game-menu"
          class="btn-back p-button-rounded p-button-info p-button-outlined"></button>
  <p>
    In the next page you can add word(s), you will navigate to
    "add word" which let you add word(s) according your selected base/target
    languages.
  </p>
  <p>
    Also we provide your added words for other people, so you are indeed helping to our open source community, Thank you :-)
  </p>
  <hr>
  <div class="text-center">
    <button class="btn btn-success">Continue</button>
  </div>
</div>
