<div class="welcome-inner-main-container">
  <div>
    <span class="text-item"
      >Play lingua is a free and open source platform for learn new
      language(s)</span
    >
  </div>
  <div>
    <span class="text-item">Do you want to</span>
  </div>
  <div>
    <div>
      <button class="btn btn-success" routerLink="./login">Login</button>
    </div>
    <div>
      <button class="btn btn-success" routerLink="./register">Register</button>
    </div>
    <div>
      <span>Or</span>
    </div>
    <div>
      <button class="btn btn-success" (click)="playGuest()">
        Play as a guest
      </button>
    </div>
  </div>
</div>
