<div mat-dialog-title>
 <strong (click)="dialogRef.close()">Here we will design header, Press to close for now</strong>
</div>
<div mat-dialog-content>
    <div class="form-group">
      <label for="bookName">Book name</label>
      <input type="email" class="form-control" [(ngModel)]="book.name" id="bookName" aria-describedby="emailHelp" placeholder="Book name">
      <small id="emailHelp" class="form-text text-muted">If book name is empty here would be red and alertyyyy</small>
    </div>
</div>
<div mat-dialog-actions>
  <button type="submit" class="btn btn-primary" (click)="dialogRef.close(book)">Submit</button>
</div>
