.dialog-header-container {
  font-size: 1vw;
  border-bottom: 1px solid lightgray;
  display: flex;
  background-color: #21618C;
  color: white;
}

.dialog-header-close-icon {
  width: 50%;
  text-align: right;
  padding: 2vh;
  span {
    transition: 300ms;
  }
  span:hover {
    cursor: pointer;
    color: lightgray;
  }
}


.dialog-header-text {
  width: 50%;
  padding: 2vh;
}

.dialog-body-container {
  padding: 1vh;
  background-color: lightgray;
}
