.parent-container {
  background: url("../../../assets/images/background/stars-bg.png") ;
  height: 200vh;
}

.earth-container {
  background: url("../../../assets/images/background/earth-bg.png") no-repeat center;
  background-size: 30vw;
  background-position-y: inherit;
  width: 100%;
}

.main-container {
  height: 100vh;
  position: absolute;
  top: 50vh;
  width: 100%;
}
.center-row {
  height: 60vh;
}

.row:not(.center-row) {
  height: 20vh;
}

