:host {
  position: absolute;
  top: .5vh;
  z-index: 1;
}

.item-container {
  padding: .8rem;
  font-size: 1vw;
  display: inline-block;
}

.exit-container {
  background-color: #C0392B;
  color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

}

.exit-container:hover {
  cursor: pointer;
  background-color: #7B241C;
}

.skip-container:hover {
  cursor: pointer;
  background-color: #D4AC0D;
}

.skip-container {
  background-color: #F4D03F;
  border-radius: 20px;
  margin-left: .5rem;

}
