.main-container {
  position: absolute;
  background-color: #C0392B;
  color: white;
  top: .5vh;
  padding: .8rem;
  font-size: 1vw;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;
}

.main-container:hover {
  cursor: pointer;
  background-color: #7B241C;
}
