.welcome-inner-main-container {
  text-align: center;
  margin-left: 25%;
  margin-top: -20vh;
  max-height: 50vh;
  width: 50%;
}

.text-container {
  margin: .5rem 0;
}

::ng-deep .p-multiselect , ::ng-deep .p-dropdown{
  width: 70%;
}

.btn-back {
  float: left;
}

.btn-back-container {
  position: absolute;
  left: 22%;
}
