<div class='welcome-inner-main-container'>
  <div class='btn-back-container'>
    <button pButton pRipple type='button' icon='pi pi-arrow-left' (click)='back()'
            class='btn-back p-button-rounded p-button-info p-button-outlined'></button>

  </div>
  <h3>Choose base and target languages</h3>
  <div appLoading [loadingFlag]='allLanguages.isLoading' class='body-container'>
    <div class='text-container'>
      <span>I am speaking</span>
    </div>
    <div>
      <p-multiSelect *ngIf='isLoggedIn()'
                     [options]='allLanguages.data'
                     [styleClass]="checkFormValidation('baseLanguages')"
                     [(ngModel)]='baseLanguages'
                     defaultLabel='Select base language'
                     optionLabel='fullName'></p-multiSelect>
      <p-dropdown *ngIf='!isLoggedIn()'
                  [options]='allLanguages.data'
                  [styleClass]="checkFormValidation('baseLanguages')"
                  [(ngModel)]='baseLanguages'
                  optionLabel='fullName'
                  placeholder='Select base language'></p-dropdown>
    </div>
    <div class='text-container'>
      <span>And I want to learn</span>
    </div>
    <div>
      <p-multiSelect *ngIf='isLoggedIn()'
                     [options]='allLanguages.data'
                     [styleClass]="checkFormValidation('targetLanguages')"
                     [(ngModel)]='targetLanguages'
                     defaultLabel='Select target language'
                     optionLabel='fullName'>
      </p-multiSelect>
      <p-dropdown *ngIf='!isLoggedIn()'
                  [options]='allLanguages.data'
                  [styleClass]="checkFormValidation('targetLanguages')"
                  [(ngModel)]='targetLanguages'
                  placeholder='Select target language'
                  optionLabel='fullName'>
      </p-dropdown>
    </div>
    <div class='mt-2'>
      <button pButton pRipple type='button' label='Lets go' class='p-button-success' (click)='submit()'></button>
    </div>
  </div>
</div>
