<div *ngIf="isPreparing" class="text-center p-5">
  <div
    class="spinner-grow text-success"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <hr />
  <h1>Preparing game data</h1>
</div>
<div *ngIf="!isPreparing" class="config-main-container">
  <div class="alert alert-success mt-2" *ngIf="data.isFeedback">
    Hi <strong>{{ data.feedbackForm.playerName }}</strong
    >! Thanks for accepting my invitation. You can take a look at
    <strong (click)="goToHelp.emit()" class="help-option">help</strong> tab to
    learn more about the game. Hit start to play!
  </div>
  <div class="body-container">
    <app-game-hint [hints]="data.hints"></app-game-hint>
    <hr />
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="bookListLoading"
    ></mat-progress-bar>
    <mat-form-field
      appearance="fill"
      class="select-book-input"
      *ngIf="!bookListLoading && !data.isFeedback"
    >
      <mat-label>Select a book</mat-label>
      <mat-select
        [(ngModel)]="form.selectedBook"
        (ngModelChange)="getChapters($event)"
      >
        <mat-option *ngFor="let book of books" [value]="book">
          {{ book.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="chapterListLoading"
    ></mat-progress-bar>
    <mat-form-field
      appearance="fill"
      class="select-book-input"
      *ngIf="form.selectedBook.id && chapters && chapters.length"
    >
      <mat-label>Select a chapter/reference</mat-label>
      <mat-select [(ngModel)]="form.selectedChapter">
        <mat-option *ngFor="let chapter of chapters" [value]="chapter">
          {{ chapter.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="action-container">
    <button class="btn btn-success" (click)="submitEmitter.emit(form)">
      Start!
    </button>
  </div>
</div>
