.select-book-input {
  width: 100%;
}

.action-container {
  position: absolute;
  bottom: -2%;
  height: fit-content;
  left: 71%;
  width: 25%;

  .btn-success {
    width: 100%;
    height: 6vh;
    font-size: 1.3vw;
  }

  margin-bottom: 2%;
}

.body-container {
  max-height: 47vh;
  overflow: auto;
}

.main-container {
  overflow-y: hidden !important;
}

:host {
  color: #55433C;
}

.help-option {
  font-weight: bolder;
  text-decoration: underline;
}

.help-option:hover {
  cursor: pointer;
}
