<form  class="welcome-inner-main-container">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="user.username">
    <small id="emailHelp" class="form-text text-danger" *ngIf="errors.username">{{errors.username}}</small>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" [(ngModel)]="user.password">
    <small id="passwordHelp" class="form-text text-danger" *ngIf="errors.password">{{errors.password}}</small>
  </div>
  <div class="form-group">
    <label for="inputRePassword">Repeat password</label>
    <input type="password" class="form-control" id="inputRePassword" name="inputRePassword" placeholder="Re-Password" [(ngModel)]="user.rePassword">
  </div>
  <hr>
  <div class="mt-2 text-center">
    <input class="btn btn-success" type="submit" (click)="submit()" label="Submit">
  </div>
</form>
