<form  class="welcome-inner-main-container">
  <div class='btn-back-container'>
    <button pButton pRipple type="button" icon="pi pi-arrow-left" (click)='back()'
            class="btn-back p-button-rounded p-button-info p-button-outlined"></button>
  </div>
  <div class="form-group">
    <label for="inputDisplayName">Display name</label>
    <input type="text" class="form-control" id="inputDisplayName" name="inputDisplayName" aria-describedby="displayNameHelp" placeholder="Display name"
           [(ngModel)]="user.displayName">
    <small id="displayNameHelp" class="form-text text-danger" *ngIf="errors.displayName">{{errors.displayName}}</small>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="user.email">
    <small id="emailHelp" class="form-text text-danger" *ngIf="errors.email">{{errors.email}}</small>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" [(ngModel)]="user.password">
    <small id="passwordHelp" class="form-text text-danger" *ngIf="errors.password">{{errors.password}}</small>
  </div>
  <div class="form-group">
    <label for="inputRePassword">Repeat password</label>
    <input type="password" class="form-control" id="inputRePassword" name="inputRePassword" placeholder="Re-Password" [(ngModel)]="user.rePassword">
  </div>
  <hr>
  <div class="mt-2 text-center">
    <button class="btn btn-success" type="submit" [disabled]="isLoading" (click)="submit()">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
      {{isLoading ? 'Loading...' : 'Submit'}}
    </button>
  </div>
</form>
