<form class="welcome-inner-main-container">
  <div class="btn-back-container">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-arrow-left"
      (click)="back()"
      class="btn-back p-button-rounded p-button-info p-button-outlined"
    ></button>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input
      type="email"
      class="form-control"
      [ngClass]="{ 'field-not-valid': hasEmailError }"
      id="inputEmail"
      name="inputEmail"
      aria-describedby="emailHelp"
      placeholder="Email"
      [(ngModel)]="user.email"
    />
  </div>
  <hr />
  <div class="mt-2 text-center">
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="isLoading"
      (click)="submit()"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
        *ngIf="isLoading"
      ></span>
      {{ isLoading ? 'Loading...' : 'Submit' }}
    </button>
  </div>
</form>
