.welcome-inner-main-container {
  position: absolute;
  top: -25vh;
  left: 35%;
  z-index: 1;
  max-height: 50vh;
  width: 30%;
}

.btn-back-container {
  display: inline-block;

  button {
    float: left;
  }
}
