.welcome-inner-main-container-game-menu {
  max-height: 102vh;
  padding-top: 0;
  border-radius: 0;
  background-color: unset;
  position: absolute;
  top: -50vh;
  left: 15px;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
}

.menu-container {
  background-color: rgba(0, 0, 0, .2);
}

.greeting-container {
  text-align: center;
  margin-top: 1rem;
  color: #fff;
}

.action-menu-container {
  background-color: #67dfc1;
  border-color: #67dfc1;
  transition: 500ms;
  height: 2rem;
  padding-top: .3rem;

}

.description-menu-container {
  background-color: rgba(0, 0, 0, .3);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.change-default-action {
  color: rgba(0, 0, 0, .8);
  font-style: italic;
  text-underline: white;
  text-decoration: underline;
  transition: 300ms;
}

.change-default-action:hover {
  color: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.action-menu-container:hover {
  background-color: #fff;
  color: #67dfc1;
  cursor: pointer;
  border-radius: 10px;
}

.header-container {
  text-align: left;
  background-color: rgba(0, 0, 0, .4);
  color: #FAF9F9;
  display: flow-root;
}

.header-action-container {
  float: right;
  background-color: #53ceb8;
  border-color: #53ceb8;
  color: #fff;
  padding: 1vh;
  font-size: .7vw;
  width: 20%;
  text-align: center;
  transition: 100ms;
}

.header-coming-soon-action-container {
  float: right;
  background-color: #53ceb8;
  border-color: #53ceb8;
  color: #fff;
  padding: 1vh;
  font-size: .7vw;
  width: 20%;
  text-align: center;
  transition: 100ms;
}

.header-action-container:hover {
  cursor: pointer;
  background-color: #bee27b;
  border-color: #bee27b;
  font-size: 1vw;
}

.header-text-container {
  float: left;
  padding: .9vh;
  font-size: 1vw;
}

.game-container {
  background-color: rgba(0, 0, 0, .2);
  margin-bottom: 5%;
}

.gif-item {
  width: 30vw;
  height: 15vw;
  box-shadow: 0.5rem 0.3rem 2rem black;
}

.gif-container {
  text-align: center;
  padding: 1vh;
}

.logo-container {
  height: 2vh;
  border-radius: 50%;
}

::ng-deep .select-language-dialog > mat-dialog-container {
  background-color: unset;
  box-shadow: unset;
}
