<div
  class="welcome-inner-main-container-game-menu"
  appLoading
  [loadingFlag]="loadingFullPage"
>
  <app-top-navbar class="navbar-container"></app-top-navbar>
  <br />
  <div class="row">
    <div class="menu-container col-sm-2 ml-5 mr-5">
      <div class="greeting-container">
        <div
          class="action-menu-container mt-2"
          routerLink="../profile"
          *ngIf="isLoggedIn()"
        >
          Manage profile
        </div>
        <hr *ngIf="isLoggedIn()" />
        <div
          class="action-menu-container mt-2"
          routerLink="../word-management"
          *ngIf="isLoggedIn()"
        >
          Manage your words
        </div>
        <div
          class="action-menu-container mt-2"
          routerLink="../admin"
          *ngIf="isAdmin()"
        >
          Admin panel
        </div>
        <hr *ngIf="securityService.isLoggedIn().success" />
        <div
          class="description-menu-container mt-2"
          *ngIf="
            defaultSelectedLanguages?.defaultTargetLanguage &&
            defaultSelectedLanguages?.defaultBaseLanguage
          "
        >
          I know
          <strong>{{
            defaultSelectedLanguages.defaultBaseLanguage.name
          }}</strong>
          and I want to improve my
          <strong>{{
            defaultSelectedLanguages.defaultTargetLanguage.name
          }}</strong>
          . This is my default learning path, but I can always
          <strong
            class="change-default-action"
            (click)="changeDefaultLanguages()"
            >change this default</strong
          >
        </div>
      </div>
    </div>
    <div class="col-sm-9" appLoading [loadingFlag]="inquiryResult.isLoading">
      <div class="row" *ngIf="!inquiryResult.hasError && !inquiryResult.data">
        <div class="col-sm-12 alert alert-warning">
          <span class="mr-2">Oops, You selected</span>
          <span>
            <strong>{{
              defaultSelectedLanguages.defaultBaseLanguage.name
            }}</strong>
            <strong>{{
              defaultSelectedLanguages.defaultTargetLanguage.name + ', '
            }}</strong>
          </span>
          <span class="ml-2"
            >as your base languages, but unfortunately we dont have any
            information with any of the selected languages. The good news is,
            you can be the first one who is adding words.
          </span>
          <span *ngIf="isLoggedIn()">
            <span> For adding your custom words </span>
            <button
              class="m-2 btn btn-info"
              routerLink="../prepare-adding-words"
            >
              Click here
            </button>
          </span>
          <span *ngIf="!isLoggedIn()">
            <span>For adding your custom words you should </span>
            <button class="m-2 btn btn-info" routerLink="../login">
              Login
            </button>
            or
            <button class="m-2 btn btn-info" routerLink="../register">
              Register
            </button>
          </span>
        </div>
      </div>
      <div class="row">
        <div
          *ngFor="let gameMenu of gameMenus"
          [id]="gameMenu.id"
          class="col-sm-6"
        >
          <div class="game-container">
            <div class="header-container">
              <div class="header-text-container">
                <img class="logo-container" [src]="gameMenu.image" />
                {{ gameMenu.name }}
              </div>
              <div
                *ngIf="gameMenu.isDesigned && inquiryResult.data"
                class="header-action-container"
                [routerLink]="gameMenu.route"
              >
                Lets Play!
              </div>
              <div
                *ngIf="!inquiryResult.data && gameMenu.isDesigned"
                class="header-coming-soon-action-container"
              >
                No data!
              </div>
              <div
                *ngIf="!gameMenu.isDesigned"
                class="header-coming-soon-action-container"
              >
                Coming soon!
              </div>
            </div>
            <div class="animation-container">
              <div class="gif-container">
                <div *ngIf="gameMenu.isGifLoading" class="text-center p-5">
                  <div
                    class="spinner-grow text-success"
                    style="width: 3rem; height: 3rem"
                    role="status"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                  <hr />
                  <h1>Loading video</h1>
                </div>
                <img
                  class="gif-item"
                  [src]="gameMenu.gifUrl"
                  *ngIf="!gameMenu.isGifLoading"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
