.left-container {
  border-right: 1px solid gray;
  padding: 10px 0px 0px 10px;
}

.right-container {
  padding: 1%;
}

.side-container {
  display: inline-table;
  height: 100vh;
}

.btn {
  border: solid 1px #283747;
  margin: 1% 10%;
  width: 80%;
  color: #283747;
  transition: 500ms;
}

.btn:hover {
  color: white;
  background-color: #283747;
}

.selected-menu {
  color: white;
  background-color: #283747;
}
