.left-container {
  width: 15%;
  border-right: 1px solid gray;
  padding: 10px 0px 0px 10px;
}

.right-container {
  width: 85%;
  padding: 10px 0px 0px 10px;
}

.side-container {
  display: inline-table;
  height: 100vh;
}

.menu-container {
  //display: block;
}
