.left-side-container {
  text-align: center;
  display: inline-block;
  width: 20%;
  height: 100vh;
  border-right: 1px solid;
}

.collapse-container {
  position: fixed;
  border: 1px solid rgb(33, 47, 60);
  color: rgb(33, 47, 60);
  padding: .5rem;
  border-radius: 50%;
  z-index: 100;
}

.collapse-container:hover {
  background-color: rgb(33, 47, 60);
  cursor: pointer;
  color: white;
}

.collapse-container {
  float: right;
  margin: 20px;
}

.page-container {
  display: flex;
}

.router-container {
  display: inline-block;
  width: 80%;
  height: 100vh;
  padding: 0px 10px;
}

.full-width-container {
  width: 100%;
  padding: 0;
}

.menu-container {
  border: solid 1px gray;
  margin: 1rem;
  padding: .5rem;
  color: gray;
}

.menu-container:hover {
  cursor: pointer;
  color: white;
  background-color: gray;
}

.menu-container:focus, .collapse-container:focus {
  outline: 0;
}

