.select-language-container {
  border: solid 1px lightgray;
  width: 94%;
  margin-left: 3%;
  padding: .5rem;
  margin-top: 1vh;
  background-color: rgba(0, 0, 0, .1);

  .word-list-container {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: .5rem;
  }
}

.fill-words-container {
  width: 94%;
  margin-left: 3%;
  margin-top: 1vh;
  height: 65vh;

  .fill-word-header-container {
    margin: 0;
  }

  .word-list-container {
    background-color: rgba(0, 0, 0, .1);
    padding: .5rem;
  }

  .word-list-action-container {
    background-color: rgba(0, 0, 0, .1);
    margin: 1% 0 0 0;
  }
}

::ng-deep .p-dropdown {
  width: 100%;
}

.pre-text-container {
  background-color: white;
  color: gray;
  border: solid 1px lightgray;
  font-size: .8vw;
  text-align: center;
  padding: .5rem;
  height: fit-content;
}

.random-word-text-container {
  border: solid 1px lightgray;
  box-shadow: .05rem .05rem .05rem .05rem lightgray;
  background-color: white;
  color: gray;
  padding: .5rem;
}

.p-button-rounded {
  border: solid 1px lightgray;
  color: gray;
  background-color: white;
  padding: 5px;
}

.word-header-container {
  background-color: white;
  color: gray;
  border: solid 1px lightgray;
  font-size: 1vw;
  text-align: center;
  padding: .5rem;
  height: fit-content;
}

.word-list-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80%;
}

.word-list-action-container {
  height: 10%;
}

