.select-language-container {
  border: solid 1px lightgray;
  width: 94%;
  margin-left: 3%;
  padding: .5rem;
  margin-top: 1vh;
  background-color: rgba(0,0,0,.1);
}

::ng-deep .p-dropdown {
  width: 100%;
}

.pre-text-container {
  background-color: white;
  color: gray;
  border: solid 1px lightgray;
  font-size: .8vw;
  text-align: center;
  padding: .5rem;
}

::ng-deep .field-not-valid {
  border: solid 1px red;
}
